@media only screen and (min-width: 1201px) {
  .container {
    width: 110rem;
  }
}

@media only screen and (max-width: 1200px) {
  .container{
    width: 90%;
  }
}

@media only screen and (min-width: 1025px) {
  .mobile__search {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .mobile__search {
    display: flex;
  }
}

@media only screen and (max-width: 768px) {
  .cards {
    grid-template-columns: 45% 45%;
    row-gap: 2rem;
  }
  .description {
    display: none;
  }
}


