:root {
    /* bg colors */
    --blue-bg-color: rgb(35, 35, 243);
    --body-bg-color: rgb(228, 228, 251);
    --footer-bg-color: #262d3d;
    /* color */
    --white-color: #fff;
    --hover-color: #D6EEEE;
    --link-color: #204ecf;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: var(--link-color);
}

button {
    border: none;
    cursor: pointer;
    outline: none;
}

input{
    outline: none;
    border-style: none;
}

html {
    font-size: 62.5%;
    width: 100%;
    border: 2 px solid black;
    height: 100vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--body-bg-color);
    font-size: 1.6rem;
    transition: all 1s ease;
    width: 100%;
    height: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 1.2rem;
    max-width: 1100px;
}

.hidden {
    display: none !important;
}

.box-shadow {
    background-color: rgb(245, 245, 255);
    text-align: center;
    box-shadow: 0 0 12px rgb(185, 185, 246);
}

/* Header section */
header {
    background-color: var(--blue-bg-color);
    padding: 2rem 0;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: var(--white-color);
    font-size: 2.5rem;
    font-weight: 550;
}

.tableBtn {
    background-color: inherit;
    border: 0.1rem solid var(--white-color);
    padding: 0.5rem 2rem;
    color: var(--white-color);
    font-size: 1.6rem;
}

.tableBtn:hover {
    border-color: var(--body-bg-color);
    text-decoration: underline;
    color: var(--body-bg-color);
    transition: all 0.3s ease;
}

/* Main section */
main {
    padding: 3rem 0;
}

main .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4rem;
}

.top__message {
    padding: 2rem 0;
    text-align: center;
}

/* Mobile  search*/
.mobile__search {
    position: relative;
    width: 100%;
    display: flex;
    background-color: var(--white-color);
    border-radius: 1.5rem;
    z-index: 100;
}

.search__icon {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    font-size: 1.4rem;
}

input {
    width: 90%;
    padding: 1rem 0;
    border-radius: 0 1.5rem 1.5rem 0;
    position: relative;
    z-index: 100;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
}

/* Message */
.message__box {
    padding: 2rem 5rem;
    font-size: 1.4rem;
    margin-top: 5rem;
    margin-bottom: 12rem;
}

/* Key Info */
.key__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10rem;
}
.key__code {
    font-size: 8rem;
    padding: 3rem;
}

.key__info h4 {
    padding-bottom: 3rem;
}

.cards{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-between;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
}

.card small{
    background-color: var(--blue-bg-color);
    padding: 1.5rem 0;
    font-size: 1.6rem;
    color: var(--white-color);
}

.card span {
    padding: 3rem 0;
    font-size: 2rem;
}

/* More info */
.more__info {
    width: 100%;
}

.show__info {
    background-color: var(--blue-bg-color);
    color: var(--white-color);
    padding: 1rem 1.5rem;
    text-align: center;
}

.show__info p {
    position: relative;
}

.show__info i {
    position: absolute;
    right: 0;
}

.info__details {
    padding: 1.5rem 2rem;
    text-align: left;
}

/* Footer section */
footer {
    background-color: var(--footer-bg-color);
    padding: 3rem 0;
    text-align: center;
    color: var(--white-color);
    font-size: 1.4rem;
    width: 100%;
}

footer p a{
    color: var(--light-color);
}

footer p a:hover {
    text-decoration: underline;
}

.connections {
    padding-top: 1rem;
    font-size: 1.4rem;
}

.connections i {
    color: var(--blue-bg-color);
    transition: color 0.4s ease;
    padding: 0 1.5rem;
}

.connections i:hover {
    color: var(--body-bg-color);
    cursor: pointer;
}

/* Overlay */
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}